.creature {
  display: flex;
  border: 10px solid #936546;
  margin: 0 20px 20px 0;
  padding: 20px;
  width: 260px;
  height: 340px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1) !important;

  &.showMore {
    width: 100%;
  }

  .creatureMain {
    text-align: center;
  }

  .creatureImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .creatureDetails {
    opacity: 0;
    height: 0;
    overflow-y: auto;

    transition: opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &.showMore {
      opacity: 1;
      height: 100%;
    }

    .emotionalTies {
      padding-left: 20px;
    }

    .spotifyCode {
      height: 80px;
    }
  }

  blockquote {
    font-style: italic;
    font-size: 1.15em;
  }
}
