*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #fefae0;
  color: #333;
  font-size: 16px;
  min-height: 100vh;
}

html {
  font-size: 100%;
}

html,
body,
#root,
.appContainer {
  height: 100%;
}
